pygcn/build/*
pygcn/libtorch/*
build/*
pygcn/libtorch/lib/libdnnl.a
pygcn/libtorch/lib/libtorch_cpu.so
pygcn/libtorch-shared-with-deps-latest.zip
*.pyc
**/build
**/libtorch
*.zip
pygcn/pybind_11_example.cpython-38-darwin.so
